.navbar{
  .nav-link{
  text-transform: uppercase;
  font-size:14px;
  padding:0 1rem !important;
  }
  .nav-item.active{
    border-left: rgb(135, 196, 201) solid 3px;
  }
}

.carousel-item{
  height:450px;
}
.carousel-image-1{
  background:url('../images/image1.jpg');
  background:cover;
}
.carousel-image-2{
  background:url('../images/image2.jpg');background:cover;
}
.carousel-image-3{
  background:url('../images/image3.jpg');background:cover;
}